version: '3'

services:
  api:
    build: ecommerce-api/
    depends_on:
      - 'database'
    ports: 
      - '3001:3001'

  client:
    build: ecommerce-client/
    depends_on:
      - 'database'
      - 'api'
    ports:
      - '3000:3000'
    stdin_open: true

  database:
    build: postgresql/
    restart: always
    environment:
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: password
      
